<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javagit.dao.UserMapper">
    <resultMap id="userMap" type="com.example.javagit.entity.User">
        <id column="id" property="id"/>
        <result column="name" property="name" jdbcType="VARCAHR" javaType="java.lang.String"/>
    </resultMap>
    <select id="getUserList" resultMap="userMap" parameterType="java.lang.Integer">

    </select>
</mapper>

